# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gruvbox dark, hard scheme byDawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

custom_background_color #1d2021
custom_text_color #ebdbb2

page_separator_color #1d2021
search_highlight_color #fabd2f
status_bar_color #1d2021
status_bar_text_color #ebdbb2
ui_text_color #ebdbb2
ui_selected_text_color #ebdbb2
ui_background_color #3c3836
ui_selected_background_color #665c54
background_color #1d2021
visual_mark_color 0.4 0.36078432 0.32941177 0.2
text_highlight_color #665c54
link_highlight_color #83a598
synctex_highlight_color #fb4934

font_size 18
ui_font JetBrainsMono Nerd Font
page_separator_width 10
ruler_mode 1
custom_color_contrast 0.8

inverse_search_command nvim --headless -c "VimtexInverseSearch %2 '%1'"
check_for_updates_on_startup 1
hover_overview 0
rerender_overview 1
startup_commands toggle_synctex;toggle_custom_color;toggle_visual_scroll;toggle_horizontal_scroll_lock
new_command dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}"
super_fast_search 1
should_launch_new_window 0
